* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --transition-value: all .2s ease-in-out;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #1b1f1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-limit {
    max-width: 768px;
    width: 100%;
    padding-inline: 1rem;
}

main div {
    margin: 5rem auto 0 auto;
}

form, input, button {
    display: block;
    margin-block: 1rem;
    margin-inline: auto;
}

form {
    margin: 1rem auto 0 auto;
    width: 70%;
}

input {
    padding-inline: 1rem;
    padding-block: 1rem;
    border: 1px solid #34363467;
    border-radius: 5px;
    width: 100%; 
    transition: border .2s ease-in-out;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.6rem);
    text-align: center;
    width: 100%;
    transition: var(--transition-value);
}

button {
    padding: 10px;
    background-color: #1b1f1b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: var(--transition-value);
}

button:hover {
    border: 2px solid black;
}

label:hover {
    color: #3e3f3e;
}

h1 {
    text-align: center;
    color: #1b1f1b;
    margin-block: 4rem;
    margin-inline: auto;
    font-size: clamp(1.5rem, 1vw + 0.7rem, 2rem);
}

div p {
    text-align: center;
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.6rem);
    color: #1b1f1b;
    margin-block: 0.5rem;
}

.container-result {
    padding-inline: 1.5rem;
    padding-block: 2rem;
}

footer {
    text-align: center;
    font-size: clamp(1.2rem, 1vw + 0.3rem, 1.4rem);
    padding-block: 1rem;
    padding-inline: 1rem;
}




@media (min-width: 768px) {

    .section-limit {
        max-width: 1024px;
        width: 100%;
    }

    form {
        margin: 40px auto 0 auto;
        width: 60%;
    }


}

@media (min-width: 1024px) {

    .section-limit {
        max-width: 1224px;
        width: 100%;
    }

    form {
        margin: 4rem auto 0 auto;
        width: 40%;
    }


    footer {
        padding-block: 1rem;
    }

    .container-result {
        width: 60%;
    }

}